.whyChoose {
    padding: 1rem 0;
}

.titlePart {
    max-width: 545px;
    margin: 0 auto 3rem;
}

.chooseImg {
    margin-bottom: 1.5rem;
    object-fit: contain;
    height: 60px;
}

.chooseBenifits {
    padding-bottom: 1rem;
}

.chooseBenifits li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 0.4rem;
    font-size: 13px;
}

.chooseBenifits li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: var(--highlighted-color);
}

.chooseTitle {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: normal;
}

.knowMore,
.whyChooseCard .svgPath {
    color: var(--highlighted-color);
    fill: var(--highlighted-color);
}

.whyChooseCard:hover .knowMore,
.whyChooseCard:hover .svgPath {
    color: white;
    fill: var(--white-color);
}

.whyChooseCard:hover .chooseTitle,
.whyChooseCard:hover .chooseBenifits li::before,
.whyChooseCard:hover img {
    /* filter: grayscale(100%); */
    filter: brightness(0) invert(1);
}

.whyChooseCard {
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1.5rem;
}

@media only screen and (max-width:767px) {
    .chooseTitle {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .chooseImg {
        height: 50px;
    }

    .whyChooseCard {
        padding: 1rem;
        border-radius: .9rem;
    }
}