.whyChoose {
    padding: 1rem 0;
}

.titlePart {
    max-width: 545px;
    margin: 0 auto 3rem;
}

.cardItems:hover .chooseTitle {
    color: var(--footer-bg);
}

.chooseImg {
    margin-bottom: 1.5rem;
    object-fit: contain;
    height: 60px;
}

.chooseBenifits {
    padding-bottom: 1rem;
}

.chooseBenifits li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 0.4rem;
    font-size: 13px;
}

.chooseBenifits li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: var(--highlighted-color);
}

.chooseTitle {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: normal;
}

.cardItems:hover .knowMore {
    color: var(--highlighted-color);
}

.knowMore .svgPath {
    fill: var(--text-color);
}

.cardItems:hover .svgPath {
    fill: var(--highlighted-color);
}

.cardItems:not(:hover) img {
    filter: grayscale(100%);
    opacity: 0.8;
}

@media only screen and (max-width:767px) {
    .chooseTitle {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .chooseImg {
        height: 50px;
    }
}