.arrowIcn {
    position: relative;
    left: 0;
    animation: moveRight 0.8s infinite;
}

@media only screen and (max-width: 575px) {
    .arrowIcn {
        width: 15px;
        height: 15px;
    }
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    50% {
        left: -4px;
    }

    to {
        left: 0;
    }
}