.checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(115, 114, 115, 0.4);
    border-radius: 3px;
    position: relative;
}

.checkboxInput:checked~.checkmark {
    background: var(--footer-bg);
    border-color: var(--footer-bg);
}

.whiteCheckBox .checkmark {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.whiteCheckBox .checkboxInput:checked~.checkmark {
    background: white;
    border-color: white;
}