/* Cross-browser scrollbar styling */
.custom_scrollbar {
  overflow-y: scroll; /* Ensure scrollbar is visible for testing */
}

.custom_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Adjust to create spacing */
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

.custom_scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

/* For older versions of Internet Explorer and Edge */
.custom_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

.custom_scrollbar::-ms-scrollbar {
  display: none; /* IE and Edge */
}
