.innerBrandTitle {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.innerBrandSubtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.InputStyle {
    max-width: 283px;
    color: var(--text-color);
    padding: 1rem;
    outline: none;
}

.InputStyle:focus {
    border: 1.31px solid var(--secondary-color)
}

.agreePolicy {
    border-bottom: 0.5px solid var(--text-color);
}

@media only screen and (max-width:767px) {
    .InputStyle {
        max-width: 190px;
        padding: 0.4rem;
        font-size: 11px;
    }

    .innerBrandTitle {
        font-size: 2.1rem;
        line-height: 3.125rem;
        padding-bottom: 0;
    }

    .innerBrandSubtitle {
        font-size: 1.25rem;
        padding-bottom: 2.5rem;
    }
}