.innerBrandTitle {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.innerBrandTitle.innerBrandTitleHome {
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
}

input {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

.innerBrandSubtitle {
    font-size: 1.5rem;
    line-height: normal;
    padding-bottom: 3rem;
    font-weight: 500;
    max-width: 420px;
}

.innerBrandDescHome {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.InputStyle {
    max-width: 283px;
    color: var(--text-color);
    padding: 1rem;
    outline: none;
}

.InputStyle:focus {
    border: 1.31px solid var(--secondary-color);
}

.agreePolicy {
    border-bottom: 0.5px solid var(--text-color);
}

.arrowIcn {
    position: relative;
    left: 0;
    animation: moveRight 0.8s infinite;
}

@media only screen and (max-width: 767px) {
    .InputStyle {
        max-width: 190px;
        padding: 0.4rem;
        font-size: 11px;
    }

    .innerBrandTitle {
        font-size: 2.1rem;
        line-height: 3.125rem;
        padding-bottom: 0;
    }

    .innerBrandSubtitle {
        font-size: 1.25rem;
        padding-bottom: 2.5rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .InputStyle {
        max-width: 175px;
        padding: 0.3rem;
    }

    .innerBrandTitle {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .innerBrandSubtitle {
        font-size: 1rem;
    }

    .arrowIcn {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 374px) {
    .InputStyle {
        max-width: 125px;
    }
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    50% {
        left: -4px;
    }

    to {
        left: 0;
    }
}
