.chooseBenifits li {
    font-size: 20px;
    font-weight: 400;
}

.chooseBenifits li::before {
    content: "";
    width: 1px;
    height: 1px;
    border-radius: 50px;
}

.chooseBenifits > li::marker {
    font-size: 10px;
    margin-bottom: 5px;
}
