@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --pirmary-color: #193560;
  --secondary-color: #00458d;
  --text-color: #737273;
  --footer-bg: #17498a;
  --highlighted-color: #d21f34;
  --third-color: #0090c5;
  --white-color: #fff;
  --border-color: #ededed;
  --font-family: "Montserrat";
  --text-size: "16px";
  --text-title: "30";
  --highlighted-hover: #a30719;
  --footer-hover: #063169;
  --about-text: #161c2d;
  --cookie-bg-color: #f5f9fd;
  --bottom-border: #8a8a8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--white-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media only screen and (min-height: 900px) {
  .mainWrapper {
    min-height: calc(100vh - 350px);
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  body.menu-open {
    overflow: hidden;
  }

  body .headerBg {
    overflow: visible;
  }

  .headerBg::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@keyframes moveRight {
  0% {
    left: 0;
  }

  50% {
    left: -4px;
  }

  to {
    left: 0;
  }
}