.ourService {
    background: var(--footer-bg);
}

.serviceBox {
    background: var(--third-color);
    border-radius: 1.4rem;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.serviceBox:hover,
.serviceBox h4:hover {
    transform: scale(1.02);
    border: 2px solid var(--white-color);
    background-color: var(--white-color);
    color: var(--footer-bg);
}

@media only screen and (max-width: 767px) {
    .serviceBox {
        max-width: 240px;
        margin: 0 auto;
    }

    .serviceIcn {
        width: 47px;
        height: 47px;
    }
}
