.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumbItem {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
}

.homeIcon {
    margin-right: 0.5rem;
}

@media only screen and (max-width:767px) {
    .homeIcon {
        margin-right: 0.3rem;
    }
    .separator {
        margin: 0 0.3rem;
    }
}