.listBrandBanner {
    background: var(--third-color);
    border-radius: 1.8rem;
    padding: 2.5rem 3rem 3rem;
}

.brandWomenImg {
    width: auto;
    height: auto;
    object-fit: contain;
    bottom: -3rem;
}

.brandTitle {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: normal;
}

.InputStyle {
    max-width: 283px;
    color: var(--text-color);
    padding: 1rem;
    outline: none;
}

.InputStyle:focus {
    border: 1.31px solid var(--secondary-color)
}

@media only screen and (max-width:767px) {
    .listBrandBanner {
        padding: 1rem;
        border-radius: 0;
    }

    .brandTitle {
        font-size: 1.8rem;
    }

    .InputStyle {
        max-width: 190px;
        padding: 0.75rem;
    }
}

@media only screen and (max-width:374px) {
    .InputStyle {
        max-width: 153px;
        font-size: 15px;
    }
}